/* Global Styles */
body {
    font-family: 'Poppins', sans-serif;
    color: #333;
    overflow-x: hidden;
    background-color: #f8f9fa;
}

/* Navbar Styles */
.navbar {
    background-color: transparent;
    transition: background-color 0.5s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar.scrolled {
    background-color: #ffff !important;
    color: #174fdd !important;
}

.navbar-brand img {
    height: 80px;
    width: 80px;
}

.nav-link {
    border-radius: 10px;
    color: #ffff;
    transition: color 0.3s ease;
    margin: 0 10px;
}

.nav-link.scrolled {
    color: #174fdd !important;
}

.nav-link:hover {
    color: #174fdd !important;
}

/* Swiper Styles */ 
#header-carousel .swiper-container { 
    width: 100%; height: 100vh; 
} 
#header-carousel .swiper-slide { 
    position: relative; background-size: cover; 
    background-position: center; height: 100vh; 
    display: flex; justify-content: center; 
    align-items: center; 
} 
/* Styles pour les slogans dans le carousel */ 
#header-carousel .carousel-caption { 
    text-align: center; 
    max-width: 90%; padding: 10px; display: flex; 
    flex-direction: column; 
    justify-content: center; /* Centrer verticalement */ 
    align-items: center; transform: translateY(-50%); /* Ajustement fin pour centrer */ 
}
#header-carousel .carousel-caption h1 { 
    font-size: 3.5vw; /* Utilisation de vw pour les titres */ 
    text-shadow: 3px 3px 5px #174fdd; 
    color: #ffffff; 
    margin: 0; 
    margin-left: 20%;
    margin-right: 20%;
} 
#header-carousel .carousel-caption p { 
    font-size: 1.2vw; /* Utilisation de vw pour les paragraphes */ 
    text-shadow: 2px 2px 4px #174fdd; 
    color: #ffffff; margin-top: 6.0vh; /* Utilisation de vh pour les marges */ 
} /* Assurez-vous que le texte reste centré sur les petits écrans */ 
@media (max-width: 768px) {
    #header-carousel .carousel-caption h1 { 
        font-size: 6vw; /* Ajustement de la taille pour les petits écrans */
    } 
    #header-carousel .carousel-caption p { 
        font-size: 2.5vw; /* Ajustement de la taille pour les petits écrans */
    } 
    #header-carousel .carousel-caption { 
        transform: translateY(-50%); /* Toujours centré verticalement */ 
    }
}
@media (max-width: 480px) {
    #header-carousel .carousel-caption h1 {
        font-size: 8vw; /* Ajustement de la taille pour les très petits écrans */ 
    } 
    #header-carousel .carousel-caption p { 
        font-size: 3.5vw; /* Ajustement de la taille pour les très petits écrans */ 
    } 
    #header-carousel .carousel-caption { 
        padding: 5px; 
        transform: translateY(-50%); /* Toujours centré verticalement */
    } 
}



/* About Section */
#about img {
    border-radius: 15px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
}

/* Services Section */
.service-card {
    border: none;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    border-radius: 10px;
    background-color: #fff;
}

.service-card:hover {
    transform: translateY(-10px);
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
}

.service-card i {
    font-size: 3rem;
    color: #174fdd;
    margin-bottom: 15px;
}

/* Testimonial Section */
#testimonials {
    height: 350px;
}

#testimonials .testimonial-text {
    font-style: italic;
    color: #555;
}

#testimonials img {
    width: 100px;
    height: 100px;
    transition: transform 0.3s;
}

/* Gallery Section */
#gallery .gallery-slider {
    height: 350px;
}

#gallery .gallery-img {
    display: block;
    max-width: 100%;
    max-height: 300px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
}

#gallery .gallery-img:hover {
    transform: scale(1.05);
}

/* Partners Section */
#partners .partners-slider {
    height: 100px;
}

#partners .partners-slider .swiper-wrapper {
    position: relative;
    height: 100%;
    margin-left: 20%;
    margin-right: 30%;
}

.bg-dark {
    background-color: #174fdd !important;
}

#partners .partner-logo {
    max-height: 100px;
    filter: grayscale(100%);
    transition: filter 0.3s ease, transform 0.3s ease;
}

#partners .partner-logo:hover {
    filter: grayscale(0%);
    transform: scale(1.1);
}

/* Counters */
.counter {
    font-size: 3rem;
    font-weight: bold;
}

/* Contact Section */
#contact .container .row{
    margin-top: 40px;
}
#contact img {
    max-width: 100%;
    border-radius: 15px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
}

#contact .form-label {
    font-weight: bold;
    color: #174fdd;
}

/* Footer */
footer {
    padding: 30px 0;
}

footer a {
    text-decoration: none;
    color: #ffffff;
    transition: color 0.3s;
}

footer a:hover {
    color: #174fdd;
}

/* Button with Gradient */
.btn-primary {
    background: linear-gradient(45deg, #174fdd, #ffffff);
    border: none;
    color: #fff;
    transition: background 0.3s;
}

.btn-primary:hover {
    background: linear-gradient(45deg, #ffffff, #174fdd);
}

.bg-primary {
    background-color: #174fdd !important;
}
